<!DOCTYPE html>
<html>
  <head>
    <title><%= dashboard %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= dashboard %></h1>
    <p>Welcome to <%= dashboard %></p>
    <div class="col-md-4" id="frequencyDiv">
    	<p>Frequency Div</p>
    </div>
    <div class="col-md-4" id="sentimentDiv">
    	<p>Sentiment Div</p>
    </div>
    <div class="col-md-4" id="toneDiv">
    	<p>Tone Div</p>
    </div>
  </body>
</html>