<!DOCTYPE html>
<html>
  <head>
    <title>vohab.co</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

      <!-- About -->
      <a href="#explain-vohab" style="float: right; display: block; position: absolute; right: 200px; padding-top: 45px; text-decoration: none; color: black; font-size: 20px">About</a>

      <!-- Login -->
     <form method="get" action="/dashboard">
        <input style="color:black" type="image" id="buttonForLogout" src="/images/button.png" value="Logout"></input>
      </form>
    
    <!-- Logo -->
    <img src="images/networking-filled.png" 
      style="padding-top: 100px; height: 300px" 
      alt="Vohab Logo" >

    <h1 style="margin-top:-5px">vohab.co</h1>
    <h2 style="font-size: 30px; margin-top: -40px">vocabulary habits for life</h2>
    <p id="title-blurb"><i>This is so hot, you'll wish Vohab stood for volcano habitat.</i></p>

    <!-- WHITE SECTION -->
    <div id="explain-vohab">
      <div class="explain-vohab-inner">
        <p>Vohab is a speech-tracking platform that provides reliable analytics that are specific, clear, easy to access and interpret, and are personal to the user who is interested in improving their vocabulary habits.</p>

<!--         <div class="span4 spaced-col"> your content here</div>
        <div class="span4 spaced-col"> your content here</div>
        <div class="span4 spaced-col"> your content here</div> -->

        <ul id="teamMembers">
          <li><div id='special'><img src="images/brett-cropped.png"><p>Alex</p></div></li>
          <li><div><img src="images/brett-cropped.png"><p>Laura</p></div></li>
          <li><div><img src="images/brett-cropped.png"><p>Rahul</p></div></li>
          <li><div><img src="images/brett-cropped.png"><p>Ryan</p></div></li>
        </ul>

        <p>Vohab is a speech-tracking platform that provides reliable analytics that are specific, clear, easy to access and interpret, and are personal to the user who is interested in improving their vocabulary habits.</p>
<!--         <ul>
          <li>hello</li>
          <li>test</li>
          <li>wow oh wow</li>
          <li>this is cray</li>
        </ul> -->
 <!-- end explain vohab inner -->
<!--       <h3>this is a test</h3>
 -->
      

          <!-- Important column about how cool we are-->
<!--           <div class="col-sm-4">
                <img  src="images/brett-cropped.png" pop-editor-modal="image" pop-editor-rollover-icon="fa-camera" ng-model="block.fields.image_src">
                <br>
            <div> 
              <h3>Important column about how cool we are<span style="font-size: 17px; line-height: 1.42857; color: inherit;">More cool information about the team</span></h3>
            </div>
          </div> -->

      </div>

      <!-- EMAIL -->
      <form class="form" id="form1" action="MAILTO:info@vohab.co" method="post" enctype="text/plain">
      <div class="submit">
        <input type="submit" value="CONTACT" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </div>

    <!-- BLACK SECTION -->
    <div id="footer" style="background-color:black">
      <br>
      <br>
      <p>This hack was created by team 4321, at LA Hacks 2016.</p>
      <p>LA Hacks © 2016</p>
    </div>

  </body>
</html>


