<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <title>vohab.co</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<!--   <div id="nav" style="height: 50px; background-color: #FFFFFF"></div> -->
  <body>

    
    <img src="images/networking.png" style="padding-top: 50px; height: 350px" alt="Vohab Logo" style="padding-top: 100px">
    <!-- <h1><%= title %></h1> -->
    <h1>vohab.co</h1>
    <p id="title-blurb"><i>This is so hot, you'll wish Vohab stood for volcano habitat.</i></p>
    <form method="get" action="/dashboard">
    	<input type="image" src="/images/button.png"></input>
    </form>
  </body>
</html>


