<!DOCTYPE html>
<html>
  <head>
    <title>vohab.co</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Chewy|Fredoka+One|Montserrat+Alternates|Carter+One' rel='stylesheet' type='text/css'>
  </head>

  <body>

      <!-- About -->
      <a href="#explain-vohab" style="float: right; display: block; position: absolute; right: 200px; padding-top: 45px; text-decoration: none; color: black; font-size: 20px">About</a>

      <!-- Login -->
     <form method="get" action="/dashboard">
        <input style="color:black" type="image" id="buttonForLogout" src="/images/button.png" value="Logout"></input>
      </form>
    
    <!-- Logo -->
    <img src="images/networking-filled.png" 
      style="padding-top: 100px; height: 300px" 
      alt="Vohab Logo" >

    <h1 style="margin-top:-5px; font-size: 80px">vohab.co</h1>
    <h2 style="font-size: 30px; margin-top: -40px">\ vō-hab \</h2>
    <p id="title-blurb"><i>So hot you'll think it stands for volcano habitat.</i></p>

    <!-- WHITE SECTION -->
    <div id="explain-vohab">
      <div class="explain-vohab-inner">
        <p style="font-size:20px">Vohab is a speech-tracking platform that provides reliable analytics which are specific, clear, personal, and easy to interact with for anyone who is interested in improving their vocabulary.</p>
        

<!--    <div class="span4 spaced-col"> your content here</div>
        <div class="span4 spaced-col"> your content here</div>
        <div class="span4 spaced-col"> your content here</div> -->

        <!-- <div class="feature1Class">
          <div class="col-md-6" style="width: 100%">
          </div>
          <div class="col-md-6" style="width: 100%">
            <h4 style="font-size: 30px; display: block; text-align: left">"Fitbit for Speech"</h4>
            <p style="text-align: left">As wearable technology becomes increasingly popular in the consumer market, we at Vohab decided to bring key speech metrics into the hands of a generation that takes so much care to pursue success and mature both intellectually and "vohabitually". Vohab provides a simple-to-use wearable that helps you improve in all these areas.</p>
          </div>
        </div>

        <div class="feature2Class">
          <div class="col-md-6" style="width: 100%">
              <img src="images/stockphoto1.jpg" style="width:100%; height:auto">
          </div>
          <div class="col-md-6" style="width: 100%">
            <h4 style="font-size: 30px; display: block; text-align: left">Continuous speech analysis</h4>
            <p style="text-align: left">Through our sensitive Raspberry Pi controlled audio detection, Vohab is a wearable piece of technology that processes the words you say everyday and provides you with reliable speech analytics sure to help you improve your vocabulary complexity.</p>
          </div>
        </div>

        <div class="feature1Class">
          <div class="col-md-6" style="width: 100%">
              <img src="images/graph.png" style="width:100%; height:auto">
          </div>
          <div class="col-md-6" style="width: 100%">
            <h4 style="font-size: 30px; display: block; text-align: left">Continuous speech analysis</h4>
            <p style="text-align: left">Through our sensitive Raspberry Pi controlled audio detection, Vohab picks up the words you say throughout your day and processes this information on many levels, allowing you to reflect on your vocabulary complexity throughout the day and from past time periods!</p>
          </div>
        </div>
        </div> -->
        <h2>Background</h2>
        <p>The people of our current generation take so much care in pursuing success and maturing intellectually. To help them grow “vohabitually” as well, we at Vohab decided to bring key speech metrics into the hands of our users.</p>
        <p>Through our simple-to-use Raspberry Pi controlled wearable, Vohab listens to the words you say every day and provides you with reliable speech analytics sure to help you improve the complexity of your vocabulary.</p>



        <h2>Meet the Team</h2>

        <ul id="teamMembers">
          <li><div id='special'><img src="images/alex-cropped.png" style="width: 160px; height: auto"><p>Alex</p></div></li>
          <li><div><img src="images/laura-cropped.png" style="width: 160px; height: auto"><p>Laura</p></div></li>
          <li><div><img src="images/rahul-cropped.png" style="width: 160px; height: auto"><p>Rahul</p></div></li>
          <li><div><img src="images/ryan-cropped.png" style="width: 160px; height: auto"><p>Ryan</p></div></li>
        </ul>

        <!-- <p>Vohab is a speech-tracking platform that provides reliable analytics that are specific, clear, easy to access and interpret, and are personal to the user who is interested in improving their vocabulary habits.</p>
 -->

      </div>

      <!-- EMAIL -->
     

      <form class="form" id="form1" action="MAILTO:info@vohab.co" method="post" enctype="text/plain">
      <div class="submit">
        <input type="submit" value="CONTACT" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </div>


    <!-- BLACK SECTION -->
    <div id="footer" style="background-color:black">
      <br>
      <br>
      <p>This hack was created by team (4-3-2-1) Lift-Off, at LA Hacks 2016.</p>
      <p>LA Hacks © 2016</p>
    </div>

  </body>
</html>


