body, html {
  margin: 0;
  padding: 0;
}

body {
  font: 14px Helvetica, Arial, sans-serif;
  font-family: 'Chewy', cursive;
  font-family: 'Montserrat Alternates';
  vertical-align: top;
  text-align: center;
  background-image: url("/images/triangle-background-17.png");
/*  background-image: url("/images/stockphoto1.jpg");
  background-size: 2000px auto;*/
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 20px;
}

h2 {
  font-size: 40px;
}

/*.frequencyDiv, .sentimentDiv, .toneGraphDiv {
	height: 100%;
/*	width: 100%;*/
/*	background-color: #ffffff;
}*/

/*#index-title {
  font-size: 100px;
}*/

#title-blurb {
  font-size: 20px;
  padding-bottom: 20px;
}

/*#col-image {
  height: 30px;
}*/

.middle-opaque {
  height: 100%;
  background-color: white;
  padding: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.navbar-brand {
  height: 100px;
}

#explain-vohab {
  height: 850px;
  background-color:white;
  padding: 20px;
  margin-bottom: 0;
}

.explain-vohab-inner {
  height: 700px;
  height: auto;
  width: 74%;
  margin: auto;

}

/* CHART DATA STYLING */
#chart .c3-line-data2 {
  stroke-width: 3px;
}

.empty {
  height: 300px;
}

.special {
  padding-left:0;
}

#feature1-img.resize{
  width:540px;
  height:auto;
}


/*#index-nav {
  height: 40px;
  background-color: white;
  background-color: rgba(255,255,255,0.4);
  padding: 20px;
  float: right;
  clear: left;
  display: block;
}*/

/*.drop-shadow {
  -webkit-box-shadow: 0px 5px #000000;
   -moz-box-shadow: 0px 5px #000000;
        box-shadow: 0px 5px #000000;
}*/

#buttonForLogout {
  /*margin-top: 20px;*/
}

#dashboard-nav {
  margin-top: 0;
  padding: 20px;
  height: 90px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
}

#footer {
  height: 200px;
  background-color: black;
  padding-top: 40px;
  color: white;
  margin-top: 0;
}

#index-footer p {
  color: white;
}

#buttonForLogout {
  display: block;
  float: right;
  position: absolute;
  right: 30px;
  top: 30px;
}

.spaced-col {
  padding: 0px 10px;
}

#brett:hover {
    -webkit-filter: blur(0.5px); /* Chrome, Safari, Opera */
    filter: blur(0.5px);
}

#toneDiv {
  display: inline;
}

.toneGraphDiv {
  text-align: center;
  width: 30%;
  display: inline-block;
}

.frequencyDiv {
  text-align: center;
  width: 40%;
  display: inline-block;
}

/*#teamMembersDiv {
  float: center;
  display: block;
  margin: auto;
}*/

#teamMembers li {
  padding-left: 7%;
}

/*.meatTheTeam {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  clear: both;
}*/

.feature1Class {
  float: center;
}




input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
    font-family: 'Chewy', cursive;
      font-family: 'Montserrat Alternates';


}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  background-color: white;
  color: #0493bd;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  background-color: white;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}
