body, html {
  margin: 0;
  padding: 0;
}

body {
  font: 14px Helvetica, Arial, sans-serif;
  vertical-align: top;
  text-align: center;
  background-image: url("/images/triangle-background-17.png");
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 20px;
}

/*.frequencyDiv, .sentimentDiv, .toneGraphDiv {
	height: 100%;
/*	width: 100%;*/
/*	background-color: #ffffff;
}*/

/*#index-title {
  font-size: 100px;
}*/

#title-blurb {
  font-size: 20px;
}

/*#col-image {
  height: 30px;
}*/

.middle-opaque {
  height: 100%;
  background-color: white;
  padding: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.navbar-brand {
  height: 100px;
}

#explain-vohab {
  height: 100%;
  background-color:white;
  padding: 20px;
  margin-bottom: 0;
}

.explain-vohab-inner {
  height: 500px;
  width: 74%;
  margin: auto;
}

/* CHART DATA STYLING */
#chart .c3-line-data2 {
  stroke-width: 3px;
}

.empty {
  height: 300px;
}

.special {
  padding-left:0;
}


/*#index-nav {
  height: 40px;
  background-color: white;
  background-color: rgba(255,255,255,0.4);
  padding: 20px;
  float: right;
  clear: left;
  display: block;
}*/

/*.drop-shadow {
  -webkit-box-shadow: 0px 5px #000000;
   -moz-box-shadow: 0px 5px #000000;
        box-shadow: 0px 5px #000000;
}*/

#buttonForLogout {
  /*margin-top: 20px;*/
}

#dashboard-nav {
  margin-top: 0;
  padding: 20px;
  height: 90px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
}

#footer {
  height: 200px;
  background-color: black;
  padding-top: 40px;
  color: white;
  margin-top: 0;
}

#index-footer p {
  color: white;
}

#buttonForLogout {
  display: block;
  float: right;
  position: absolute;
  right: 30px;
  top: 30px;
}

.spaced-col {
  padding: 0px 10px;
}

#brett:hover {
    -webkit-filter: blur(0.5px); /* Chrome, Safari, Opera */
    filter: blur(0.5px);
}

#toneDiv {
  display: inline;
}

.toneGraphDiv {
  text-align: left;
  width: 30%;
  display: inline;
}

/*#teamMembersDiv {
  float: center;
  display: block;
  margin: auto;
}*/

#teamMembers li {
  padding-left: 50px;
}

/*.meatTheTeam {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  clear: both;
}*/



@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/*
#feedback-page{
  text-align:center;
}

#form-main{
  width:100%;
  float:left;
  padding-top:0px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#form-div {
  background-color:rgba(72,72,72,0.4);
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
/*
.feedback-input {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
  color:#30aed6;
  border:#30aed6 solid 3px;
}*/

/* Icons ---------------------------------- */
/*#subject{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#subject:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}*/

/*#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}*/

/*#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}*/

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  background-color: white;
  color: #0493bd;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  background-color: white;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}
/*
@media only screen and (max-width: 580px) {
  #form-div{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}*/